.Weather {
  padding: 50px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: rgba(255, 213, 235, 0.544);
}

.overview {
  margin-bottom: 20px;
}

.Weather-temperature {
  margin-right: -12px;
  height: 64px;
  width: -12px;
}
.Weather {
  margin-top: 30px;
}
.Weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.Weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.d-flex .weather-temperature {
  display: flex;
}

#fahrenheit-link {
  text-decoration: none;
}

#celsius-link {
  text-decoration: none;
}

.Weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.Weather-temperature .active:hover {
  text-decoration: none;
}

.Weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.Weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.Weather-forecast-temperature-min {
  opacity: 0.5;
}

.Weather-forecast-temperatures {
  font-size: 13px;
}

.btn {
  background-color: #ece1e1;
  border: none;
  color: rgb(121, 111, 111);
}

.btn:hover {
  background-color: #f5d7d7;
  color: rgb(121, 111, 111);
}

.col-2:hover {
  background-color: #f5d7d7;
  border-radius: 8px;
}
